# 惠特尼•乔治的小盘股策略

惠特尼•乔治(Whitney George)是华尔街著名的投资基金经理。于 1980 年毕业于三一学院(Trinity College) 。乔治所管理的罗斯低价股基金(Royce Low-Price Stock Fund)，截止 2001 年 7 月底，五年、三年及一年的年平均报酬率分别达 20.19%、21.98%及 24.19%，大幅 超过 S&P500 指数及罗素 2000 指数(Russel 2000 Index)，获得了基金评级机构晨 星公司(Morningstar Inc.)五颗星的最高评价。

乔治(Whitney George)和他的团队自称市场的"清道夫"。他们擅长投资小企业， 钟情于投资股价低于 25 美元的小盘股票。他认为这些股票中有很大一部分被投资者 所忽视。乔治表示，他团队的目标就是买入那些在未来三五年内股价能够翻番甚至更
多的股票。尽管这些股票有可能由于经营不及预期或行业不被看好而股价大跌，但那
些“具有稳定的资产负债表和长期健康股本回报的公司，特别是能够通过扩展现存业

# Whitney

惠特尼•乔治以价值投资为核心构建了自己的投资哲学。他偏爱市值低于 3 亿美 元的小盘股，并注重公司所持有的现金以及公司历史的投资绩效。 

* 市值低于 3 亿美元 typically below 300 million in market capitalization
* 务实的资产负债表，没有负债的同时持有很多现金 rock-solid balance sheets with no debt and lots of cash 
* 至少过去三至五年总资产报酬率及资本报酬率高且稳定 historically shown high returns on assets and capital ,and that have sustained those edge over at least three to five years
* 在市盈率低的时候买入 buy them at low multiples of earning
* 低市净率 low price-to-book ratios
* 低市销率 low price-to-sales ratios

依据中国市场状况，我们对惠特尼•乔治小型价值股投资法量化如下:

* 总市值小于全市场平均市值； 
* 产权比率（负债总额与所有者权益总额的比率）小于全市场平均值； 
* 现金比率大于市场平均值； 
* 累计三年总资产报酬率大于市场平均值； 
* 累计三年投入资本回报率大于市场平均值； 
* 最近四季度市盈率小于市场平均值； 
* 最近一季度市净率小于市场平均值； 
* 最近四季度市销率小于市场平均值；

In [74]:
# 首先import需要使用的第三方库

from jaqs_fxdayu.data import DataView # 可以视为一个轻量级的数据库，数据格式基于pandas，方便数据的调用和处理
from jaqs_fxdayu.data import RemoteDataService # 数据服务，用于下载数据
import os
import warnings
import alphalens
import talib
import pandas as pd
from datetime import datetime

warnings.filterwarnings("ignore")
dataview_folder = '../Whitney'

if not (os.path.isdir(dataview_folder)):
    os.makedirs(dataview_folder)

In [39]:
# 下载需要的数据

def save_dataview():
    data_config = {
    "remote.data.address": "tcp://data.quantos.org:8910",
    "remote.data.username": "13640905689",
    "remote.data.password": "eyJhbGciOiJIUzI1NiJ9.eyJjcmVhdGVfdGltZSI6IjE1MzM3OTA2NTA3MTciLCJpc3MiOiJhdXRoMCIsImlkIjoiMTM2NDA5MDU2ODkifQ.bM0WV_tNPJIKI5kRKbW07BQzo5jr3Bvzb9vUO4my3IM"
    }
    ds = RemoteDataService()
    ds.init_from_config(data_config)
    
    dv = DataView()
    props = {'start_date': 20100101, 'end_date': 20170101, 'universe': '000002.SH',
             'fields': "close,total_share,tot_cur_assets,tot_cur_liab,free_cash_flow,roa,roe,pe_ttm,pb,ps_ttm,cashratio",
             'freq': 1}

    dv.init_from_config(props, ds)
    dv.prepare_data()
    dv.save_dataview(dataview_folder) # 保存数据文件到指定路径，方便下次直接加载
    
save_dataview()

Begin: DataApi login 13640905689@tcp://data.quantos.org:8910
    Already login as 13640905689, skip init_from_config
Initialize config success.
Query data...
Query data - query...
NOTE: price adjust method is [post adjust]
当前请求daily...
{'adjust_mode': None, 'fields': 'trade_status,close_adj,vwap,close,open_adj,high_adj,open,high,low_adj,symbol,low,trade_date,vwap_adj'}
下载进度287/1181.
下载进度574/1181.
下载进度861/1181.
下载进度1148/1181.
当前请求daily...
{'adjust_mode': 'post', 'fields': 'vwap,close,open,high,low,symbol,trade_date'}
下载进度287/1181.
下载进度574/1181.
下载进度861/1181.
下载进度1148/1181.
当前请求query_lb_dailyindicator...
{'fields': 'pb,ps_ttm,symbol,trade_date,pe_ttm,total_share'}
下载进度287/1181.
下载进度574/1181.
下载进度861/1181.
下载进度1148/1181.
WARNING: some data is unavailable:
    At fields
Query data - daily fields prepared.
WARNING: some data is unavailable:
    At fields 600001.SH, 600357.SH, 600842.SH
Query data - quarterly fields prepared.
Query instrument info...
Query adj_factor...
Query benchmark...
Query benchmar member info...
Field [trade_status] is overwritten.
Data has been successfully prepared.

Store data...
Dataview has been successfully saved to:
C:\Users\lyxbe\Documents\GitHub\datas_quantOS

You can load it with load_dataview('C:\Users\lyxbe\Documents\GitHub\datas_quantOS')

In [41]:
# 读取数据

dv = DataView()
dv.load_dataview(dataview_folder)

Dataview loaded successfully.

# 总市值 

上司公司总市值，表示股票风格，本策略主要针对小市值股票进行选股。

In [62]:
# 总市值=收盘价*总股本
dv.add_formula('total_cap', 'close*total_share', is_quarterly=False, add_data=True)
dv.get_ts('total_cap').iloc[-5:]

# 计算市值排名
dv.add_formula('total_cap_Percentile','Percentile(total_cap)',is_quarterly=False, add_data=True)
dv.get_ts('total_cap_Percentile').iloc[-5:]

# 总市值小于均值的 赋值为1
dv.add_formula('temp', 'Tail(total_cap_Percentile, 0, 0.5, 1)',is_quarterly=False, add_data=True)
dv.add_formula('total_cap_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)

dv.get_ts('total_cap_rank').iloc[-5:]

Field [total_cap] is overwritten.
Field [total_cap_Percentile] is overwritten.
Field [tem] is overwritten.
Field [total_cap_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
20161227,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
20161228,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
20161229,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0
20161230,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,1.0,1.0

# 产权比率 

负债总额与所有者权益总额的比率，衡量负债水平，小企业的债务风险相对较大，因此需要重点衡量。

In [63]:
# 产权比例=总负债/所有者权益
dv.add_formula('equity_ratio', 'tot_cur_liab*(tot_cur_assets-tot_cur_liab)', is_quarterly=False, add_data=True)
dv.get_ts('equity_ratio').iloc[-5:]

# 计算排名
dv.add_formula('equity_ratio_Percentile','Percentile(equity_ratio)',is_quarterly=False, add_data=True)
dv.get_ts('equity_ratio_Percentile').iloc[-5:]

# 产权比例小于均值的 赋值为1
dv.add_formula('temp', 'Tail(equity_ratio_Percentile, 0, 0.5, 1)',is_quarterly=False, add_data=True)
dv.add_formula('equity_ratio_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)
dv.get_ts('equity_ratio_rank').iloc[-5:]

Field [equity_ratio] is overwritten.
Field [equity_ratio_Percentile] is overwritten.
Field [equity_ratio_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,1.0,NaN,NaN,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
20161227,1.0,NaN,NaN,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
20161228,1.0,NaN,NaN,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
20161229,1.0,NaN,NaN,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0
20161230,1.0,NaN,NaN,0.0,1.0,0.0,1.0,0.0,0.0,1.0,...,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,1.0

# 现金比率

通过计算公司现金以及现金等价资产总量与当前流动负债的比率，来衡量公司资产的流动性。从现金流角度，衡量公司财务的健康程度。

In [64]:
dv.get_ts('cashratio').iloc[-5:]

# 计算排名
dv.add_formula('cashratio_Percentile','Percentile(cashratio)',is_quarterly=False, add_data=True)
dv.get_ts('cashratio_Percentile').iloc[-5:]

# 现金比率大于均值的 赋值为1
dv.add_formula('temp', 'Tail(cashratio_Percentile, 0.5, 1, 1)',is_quarterly=False, add_data=True)
dv.add_formula('cashratio_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)
dv.get_ts('cashratio_rank').iloc[-5:]

Field [cashratio_Percentile] is overwritten.
Field [temp] is overwritten.
Field [cashratio_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,0.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
20161227,0.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
20161228,0.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
20161229,0.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
20161230,0.0,NaN,NaN,1.0,0.0,1.0,0.0,0.0,1.0,0.0,...,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

# 累计三年总资产报酬率

ROA，衡量全部资产总体获利能力

In [65]:
# 计算累计三年数据
days = 252*3 
dv.add_formula('roa_3y', 'Ts_Sum(roa,756)', is_quarterly=False, add_data=True)
dv.get_ts('roa_3y').iloc[-5:]

# 计算排名
dv.add_formula('roa_3y_Percentile','Percentile(roa_3y)',is_quarterly=False, add_data=True)
dv.get_ts('roa_3y_Percentile').iloc[-5:]

# roa大于均值的 赋值为1
dv.add_formula('temp', 'Tail(roa_3y_Percentile, 0.5, 1, 1)',is_quarterly=False, add_data=True)
dv.add_formula('roa_3y_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)
dv.get_ts('roa_3y_rank').iloc[-5:]

Field [roa_3y] is overwritten.
Field [roa_3y_Percentile] is overwritten.
Field [temp] is overwritten.
Field [roa_3y_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,0.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161227,0.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161228,0.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161229,0.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161230,0.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN

# 累计三年资本回报率

ROE，衡量投入资金的使用效果

In [66]:
# 计算累计三年数据
days = 252*3 
dv.add_formula('roe_3y', 'Ts_Sum(roe,756)', is_quarterly=False, add_data=True)
dv.get_ts('roe_3y').iloc[-5:]

# 计算排名
dv.add_formula('roe_3y_Percentile','Percentile(roe_3y)',is_quarterly=False, add_data=True)
dv.get_ts('roe_3y_Percentile').iloc[-5:]

# roe大于均值的 赋值为1
dv.add_formula('temp', 'Tail(roe_3y_Percentile, 0.5, 1, 1)',is_quarterly=False, add_data=True)
dv.add_formula('roe_3y_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)
dv.get_ts('roe_3y_rank').iloc[-5:]

Field [roe_3y] is overwritten.
Field [roe_3y_Percentile] is overwritten.
Field [temp] is overwritten.
Field [roe_3y_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,1.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161227,1.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161228,1.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161229,1.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
20161230,1.0,NaN,NaN,1.0,0.0,0.0,1.0,0.0,1.0,0.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN

# 最近四季度市盈率 

使用TTM数据

In [68]:
dv.get_ts('pe_ttm').iloc[-5:]

# 计算排名
dv.add_formula('pe_ttm_Percentile','Percentile(pe_ttm)',is_quarterly=False, add_data=True)
dv.get_ts('pe_ttm_Percentile').iloc[-5:]

# pe小于均值的 赋值为1
dv.add_formula('temp', 'Tail(pe_ttm_Percentile, 0, 0.5, 1)',is_quarterly=False, add_data=True)
dv.add_formula('pe_ttm_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)
dv.get_ts('pe_ttm_rank').iloc[-5:]

Field [pe_ttm_Percentile] is overwritten.
Field [temp] is overwritten.
Field [pe_ttm_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,1.0,NaN,NaN,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
20161227,1.0,NaN,NaN,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
20161228,1.0,NaN,NaN,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
20161229,1.0,NaN,NaN,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
20161230,1.0,NaN,NaN,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

# 最近四季度市销率

使用TTM数据

In [67]:
dv.get_ts('ps_TTM').iloc[-5:]

# 计算排名
dv.add_formula('ps_ttm_Percentile','Percentile(ps_ttm)',is_quarterly=False, add_data=True)
dv.get_ts('ps_ttm_Percentile').iloc[-5:]

# ps小于均值的 赋值为1
dv.add_formula('temp', 'Tail(ps_ttm_Percentile, 0, 0.5, 1)',is_quarterly=False, add_data=True)
dv.add_formula('ps_ttm_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)
dv.get_ts('ps_ttm_rank').iloc[-5:]

Field [ps_ttm_Percentile] is overwritten.
Field [temp] is overwritten.
Field [ps_ttm_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,1.0,NaN,NaN,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20161227,1.0,NaN,NaN,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20161228,1.0,NaN,NaN,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20161229,1.0,NaN,NaN,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
20161230,1.0,NaN,NaN,1.0,1.0,1.0,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

# 市净率

使用最新数据

In [69]:
dv.get_ts('pb').iloc[-5:]

# 计算排名
dv.add_formula('pb_Percentile','Percentile(pb)',is_quarterly=False, add_data=True)
dv.get_ts('pb_Percentile').iloc[-5:]

# pb小于均值的 赋值为1
dv.add_formula('temp', 'Tail(pb_Percentile, 0, 0.5, 1)',is_quarterly=False, add_data=True)
dv.add_formula('pb_rank', 'Tail(temp, 0, 0.99999, 0)',is_quarterly=False, add_data=True)
dv.get_ts('pb_rank').iloc[-5:]

Field [pb_Percentile] is overwritten.
Field [temp] is overwritten.
Field [pb_rank] is overwritten.

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20161227,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20161228,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20161229,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
20161230,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# 计算Whitney指标

In [77]:
# 选取所有指标 都符合要求的
dv.add_formula('Whitney','total_cap_rank * (equity_ratio_rank + cashratio_rank + roa_3y_rank + roe_3y_rank + pe_ttm_rank + ps_ttm_rank + pb_rank)',is_quarterly=False, add_data=True)

# 并把不符合要求的数值设置为0
#dv.add_formula('Whitney', 'Tail(tem, 0, 0.9999, 0)',is_quarterly=False, add_data=True)
#dv.fillna(0)

# 把因子数据保存下来
dv.save_dataview(dataview_folder)

dv.get_ts('Whitney').iloc[-5:]

Field [Whitney] is overwritten.

Store data...
Dataview has been successfully saved to:
C:\Users\lyxbe\Documents\GitHub\Whitney

You can load it with load_dataview('C:\Users\lyxbe\Documents\GitHub\Whitney')

symbol,600000.SH,600001.SH,600003.SH,600004.SH,600005.SH,600006.SH,600007.SH,600008.SH,600009.SH,600010.SH,...,603986.SH,603987.SH,603988.SH,603989.SH,603990.SH,603993.SH,603996.SH,603997.SH,603998.SH,603999.SH
trade_date,,,,,,,,,,,,,,,,,,,,,
20161226,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
20161227,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
20161228,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
20161229,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN
20161230,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN